@import "modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --main-color: #222222;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.04em;

    color: var(--main-color);
    scrollbar-width: thin;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
